header {
    position: sticky;
    background: #333;
    color: #fff;
    text-align: center;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
}
  
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}

nav {
    position: sticky;
    background: #f4f4f4;
    text-align: center;
    padding: 0.5em 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

