html {
    font-family: monospace;
    color: #f2f2f2;
    background-color: #171717;
}

a {
    text-decoration: none;
    color: #00ffff;
}

table {
    width: fit-content;
}

th {
    text-align: center;
    padding-bottom: 1rem;
}

td {
    text-align: center;
}

#header {
    display: flex; 
    align-items: column; 
    align-items: center; 
    justify-content: space-between;
}

.title p {
    display: inline;
}

#logo {
    margin: 3rem;
}

#headerCategories {
    display: inline;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #171717;
    padding: 0rem 0.25rem 0.25rem;
}

#breadcrumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#postBanner {
    z-index: 0;
}

#footer > * {
    display: inline;
}

#footerLinks > * {
    display: inline;
}

@media screen and (max-width: 875px) {
    .title p {
        display: block;
    }
    #headerCategories {
        display: block;
    }
    #footer > * {
        display: flex;
        justify-content: center;
    }
}