html {
    font-family: monospace;
    color: #f2f2f2;
    background-color: #171717;
}

a {
    text-decoration: none;
    color: #00ffff;
}

td {
    text-align: center;
}

th {
    text-align: center;
    padding-bottom: 1rem;
}

#header {
    display: flex; 
    align-items: column; 
    align-items: center; 
    justify-content: space-between;
}

#pageTitle {
    padding-right: 2rem;
}

#headerCategories {
    display: inline;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #171717;
    padding: 0.25rem;
}

#breadcrumbs > * {
    display: inline;
    text-wrap: nowrap;
}

#postBanner {
    z-index: 0;
}

#footer > * {
    display: inline;
}

#footerLinks > * {
    display: inline;
}

@media screen and (max-width: 575px) {
    #headerCategories {
        display: block;
    }
    #footer > * {
        display: flex;
        justify-content: center;
    }
}