<hr>
<div class="sticky">
    <div id="breadcrumbs">
        <h2>~</h2>
        {{- range .Ancestors.Reverse -}}
            {{- if .IsHome -}}
                <h2 style="display: inline; text-wrap: nowrap;">&nbsp;\&nbsp;<a href="{{- .RelPermalink -}}">Root</a></h2>
            {{- else -}}
                <h2 style="display: inline; text-wrap: nowrap;">&nbsp;\&nbsp;<a href="{{- .RelPermalink -}}">{{- .Title -}}</a></h2>
            {{- end }}
        {{- end -}}

        {{- if .IsHome -}}
            <h2 style="display: inline; text-wrap: nowrap;">&nbsp;\&nbsp;<a href="{{- .RelPermalink -}}">Root</a></h2>
        {{- else -}}
            <h2 style="display: inline; text-wrap: nowrap;">&nbsp;\&nbsp;<a href="{{- .RelPermalink -}}">{{- .Title -}}</a></h2>
        {{- end -}}
    </div>
    <hr>
</div>