<div class="sticky">
    <hr>
    <div id="breadcrumbs">
        <h2>~</h2>
        {{- range .Ancestors.Reverse -}}
            {{- if .IsHome -}}
                <span style="text-wrap: wrap;">
                    <h2 style="display: inline; text-wrap: nowrap;">\&nbsp;<a href="{{- .RelPermalink -}}">Root</a></h2>
                </span>
            {{- else -}}
                <span style="text-wrap: wrap;">
                    <h2 style="display: inline; text-wrap: nowrap;">\&nbsp;<a href="{{- .RelPermalink -}}">{{- .Title -}}</a></h2>
                </span>
            {{- end }}
        {{- end -}}

        {{- if .IsHome -}}
            <span style="text-wrap: wrap;">
                <h2 style="display: inline; text-wrap: nowrap;">\&nbsp;<a href="{{- .RelPermalink -}}">Root</a></h2>
            </span>
        {{- else -}}
            <span style="text-wrap: wrap;">
                <h2 style="display: inline; text-wrap: nowrap;">\&nbsp;<a href="{{- .RelPermalink -}}">{{- .Title -}}</a></h2>
            </span>
        {{- end -}}
    </div>
    <hr>
</div>