<div class="image-shortcode" style="text-align: center;"> <!-- wrapper div to apply class and style -->
  {{ with .Get "caption" }} <!-- checks to see if a caption been passed through -->
    <h3 class="caption">{{ . }}:</h3> <!-- adds the caption followed by a semicolon if present -->
  {{ end }} <!-- ends the caption check -->
  <img
    src="{{ .Get "path" }}" 
    alt="{{ .Get "alt" }}"
    loading="lazy"
    style="max-width: 80vw; max-height: 80vh; width: auto; height: auto;"> 
    <!-- grabs the path and alt text when the image is unable to load from parameters
          sets the loading as lazy - will defer image download until near the viewport
          applies style to dynamically resize image within the viewport while keeping aspect ratio -->
</div>