<div class="standardPadding" style="text-align: center; max-width: 100%; height: auto;"> 
  <!-- wrapper div to apply class and style -->
  {{- with .Get "caption" -}} <!-- checks to see if a caption been passed through -->
    <h3 class="caption">{{- . -}}:</h3> <!-- adds the caption followed by a semicolon if present -->
  {{- end -}} <!-- ends the caption check -->
  <div style="max-width: 1000px;">
    <img
      src="{{- .Get "path" -}}" 
      alt="{{- .Get "alt" -}}"
      loading="lazy"
      style="display: block; max-width: 100%; max-height: 80vh; width: auto; height: auto; margin-left: auto; margin-right: auto;"> 
      <!-- grabs the path and alt text when the image is unable to load from parameters
            sets the loading as lazy - will defer image download until near the viewport
            applies style to dynamically resize image within parent container and viewport -->
    </div>
</div>